.header__lang-link {
  margin-right: 18px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

.header__lang-link_active {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
	.header__lang-link {
		font-size: 19px;
		line-height: 19px;
	}
}
