.photo-grid {
  width: 90.625%;
  margin: 92px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 14px;
  justify-items: center;
}

@media screen and (max-width: 425px) {
  .photo-grid {
    width: 90%;
    margin: 64px auto;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

@media screen and (min-width: 426px) and (max-width: 900px) {
  .photo-grid {
    width: 93.75%;
    margin: 88px auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (min-width: 1140px) {
  .photo-grid {
    width: 92.5%;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}
