.places {
  width: 90.625%;
}

@media screen and (max-width: 500px) {
  .places {
    width: 100%;
  }
}

@media screen and (min-width: 501px) and (max-width: 830px) {
  .places {
    width: 94%;
  }
}

@media screen and (min-width: 1140px) {
  .places {
    width: 77%;
  }
}
