.cover__subtitle {
    margin: 0;
    width: 360px;
    align-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 425px) {
	.cover__subtitle {
		width: 90%;
		font-size: 14px;
		line-height: 16px;
	}
}
