.lead__title {
  width: 720px;
  margin: 0;
  align-self: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 425px) {
  .lead__title {
    width: 90%;
    font-size: 40px;
    line-height: 44px;
  }
}
