.lead__title {
  width: 70.3125%;
  margin: 0;
  align-self: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .lead__title {
    width: 90%;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 701px) and (max-width: 830px) {
  .lead__title {
    width: 93.75%;
  }
}

@media screen and (min-width: 1130px) {
  .lead__title {
    width: 56.25%;
  }
}
