.lead__subtitle {
  width: 62.5%;
  margin: 32px 0 56px;
  align-self: center;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

@media screen and (max-width: 500px) {
  .lead__subtitle {
    width: 90%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 42px;
  }
}

@media screen and (min-width: 501px) and (max-width: 830px) {
  .lead__subtitle {
    width: 83.3%;
  }
}

@media screen and (min-width: 1130px){
  .lead__subtitle {
    width: 50%;
  }
}
