.lead__subtitle {
  width: 62.5%;
  margin: 32px 0 56px;
  align-self: center;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 725px) {
  .lead__subtitle {
    width: 90%;
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0 40px;
  }
}