.cover {
  width: 100%;
  margin: 92px 0;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .cover {
    width: 1184px;
  }
}

@media screen and (max-width: 900px) {
  .cover {
    margin: 90px 0 88px;
  }
}

@media screen and (max-width: 725px) {
  .cover {
    margin: 66px 0 64px;
  }
}