.cover__overlay {
  width: 100%;
  min-height: 640px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../../images/cover_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.cover__overlay::after {
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  content: "";
  display: block;
  position: absolute;
  opacity: .3;
  transition: opacity 1s ease-in;
  z-index: -1;
}

.cover__overlay:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .cover__overlay {
    min-height: 200px;
  }
}

@media screen and (min-width: 426px) and (max-width: 900px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__overlay {
    min-height: 740px;
  }
}
