.cover__title {
  margin-bottom: 32px;
  width: 560px;
  align-self: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 425px) {
	.cover__title {
		width: 90%;
    margin-bottom: 16px;
		font-size: 32px;
		line-height: 33px;
	}
}
