.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 49.1fr 50.9fr;
  grid-template-rows: fit-content(160px) fit-content(440px);
  justify-content: space-between;
  align-content: space-between;
  gap: 48px 32px;
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph";
}

.place:last-of-type {
  margin: 0;
}

 @media screen and (max-width: 425px) {
  .place {
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, fit-content(160px)) fit-content(320px) 1fr;
    row-gap: 32px;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraph";
  }
}

@media screen and (min-width: 426px) and (max-width: 900px) {
  .place {
    margin-bottom: 73px;
    grid-template-rows: fit-content(140px) 1fr;
    column-gap: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 48.7fr 51.3fr;
    gap: 48px 40px;
  }
}

