.footer {
  margin: 0 0 24px;
  width: 90.625%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
	.footer {
		flex-direction: column;
		width: 58.125%;
		margin-left: 5%;
    align-self: start;
	}
}

@media screen and (min-width: 700px) and (max-width: 900px) {
	.footer {
		width: 93.75%;
	}
}

@media screen and (min-width: 1280px) {
	.footer {
		width: 92.5%;
	}
}
