.footer {
  margin: 0 0 24px;
  width: 90.625%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1280px) {
	.footer {
		width: 92%;
		margin-top: 96px;
	}
}

@media screen and (max-width: 900px) {
	.footer {
		width: 94%;
		margin-top: 86px;
	}
}

@media screen and (max-width: 700px) {
	.footer {
		flex-direction: column;
		width: 58%;
		margin-top: 64px;
		margin-left: 5%;
	}
}
